*{
    font-family: monospace;
}
.name{
    margin-top: 2rem;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    gap: 20px;
    text-align: right;
    padding-left: 15px;
    padding-bottom: 40px;
}

.head {
    font-size: 35px;
    color:  #4675C0;
    font-weight: bold;
}

.emp_id{
    font-size: 25px;
    font-weight: bold;
}
.home{
    font-size: 20px;
}
.main{
    display: flex;
    
}
a, a:hover{
    text-decoration: none;
    color: inherit;
}
ul {
    list-style-type: none;
}

a:hover{
    color: #4675C0;
}

h3{
    font-size: large;
}

.main_container{
    display: flex;
    margin-right: 10rem;

}

.nav_bar{
    flex: 1;
    font-size: 18px;
    text-align: center;
    margin-top: 1rem;
    /* padding-top: 5rem; */
    /* margin-right: 3rem; */


}
.emp_info{
    flex: 1;
    padding-left: 2rem;
    font-size: 18px;
}
/* p{
    background-color: #d4e1f6;
} */

/* .nav_bar > a {
    background-color: #d6dae3;

} */

#edit-form {
    width: 300px;
    display: flex;
    flex-direction: column;
}

.mid-container {
    display: flex;
    justify-content: center;
}

.home-tag {
    font-size: 35px;
    color:  #4675C0;
    font-weight: bold;
}

#home-nav .home-tag {
    margin-right: auto;
    padding-left: 20px;
}

#home-nav a {
    font-family: arial,sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: rgb(83, 80, 80);
    padding-top: 32px;
}

#home-nav a:hover {
    color: black;
    text-shadow: 1px rgba(75, 73, 73, 0.79)
}

#home-nav {
    margin-top: 2rem;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    gap: 20px;
    text-align: right;
    padding-right: 15px;
    padding-bottom: 40px;
}