<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Employee</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}">

</head>
<body>
    <form method = "POST">
        <label for = "employee_id">Employee ID:</label>
        <input type="text" name = "emplpoyee_id" id ="post_input" required />
        <br>
        <label for = "first_name">First Name:</label>
        <input type="text" name = "first_name" id ="post_input" required />
        <br>
        <label for = "last_name">Last Name:</label>
        <input type="text" name = "first_name" id ="post_input" required />
        <br>
        <label for = "employee_department">Department:</label>
        <input type="text" name = "employee_department" id ="post_input" required />
        <br>
        <label for = "employee_salary">Salary:</label>
        <input type="number" min="0" name = "employee_salary" id ="post_input" required />
        <br>
        <label for = "employee_salary">Age:</label>
        <input type="number" min="0" max="200" name = "employee_age" id ="post_input" required />
        <br>

        <input type = "Submit" value = "Submit Data"/>
        <a href="#">Cancel</a>
    </form>
</body>
</html>