<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Employee Database</title>
</head>
<body>
    <main>
        <h1>BCIT Employee Database</h1>
        <div id="employee-table">
            <h3><a id="create-emp" href="#">Create New Employee</a></h3>
            <div id="table-container">
                <table>
                    <thead>
                        <th>Employee ID</th>
                        <th>Employee First Name</th>
                        <th>Employee Last Name</th>
                        <th>Employee Department</th>
                        <th>Employee Salary</th>
                        <th>Employee Age</th>
                        <th colspan="2">Methods</th>
                    </thead>
                    <tbody id="table-body">
                        <tr>
                            <td>Employee ID</td>
                            <td>First Name</td>
                            <td>Last Name</td>
                            <td>Department</td>
                            <td>Salary</td>
                            <td>Age</td>
                            <td><a href="#">Delete</a></td>
                            <td><a href="#">View</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- JS to test adding employee (Deleted later on) -->
        <script type="text/javascript" >
            const table = document.getElementById('table-body')
            const data = `
                    <tr>
                        <td>Employee ID</td>
                        <td>First Name</td>
                        <td>Last Name</td>
                        <td>Department</td>
                        <td>Salary</td>
                        <td>Age</td>
                        <td><a href="#">Delete</a></td>
                        <td><a href="#">View</a></td>
                    </tr> `
            const addBtn = document.getElementById('create-emp')
            addBtn.addEventListener('click', addEmp)
                   function addEmp() {
                    table.insertAdjacentHTML('afterbegin', data)
                   } 
        </script>

    </main>
</body>
</html>