<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ company.name }} Employee Database</title>
    <!-- <link rel="stylesheet" href="../CSS/styles.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">


</head>
    <body>
        <table>
            <div class="main_heading">
            <h1>{{ company.name }} Employee Database</h1>
            </div>
            <h3><a href="/create">Create New Employee</a></h3>
            <!-- <label for="departments">Filter by Department </label>
            <select name="departments" id="departments">
                <option value="marketing">Marketing</option>
                <option value="finance">Finance</option>
                <option value="human_resources">Human Resources</option>
                <option value="it">IT</option>
                <option value="operations">Operations</option>
            </select> -->
            <thead>
                <th>Employee ID</th>
                <th>Employee First Name</th>
                <th>Employee Last Name</th>
                <th>Employee Department</th>
                <th>Employee Salary</th>
                <th>Employee Age</th>
                <th colspan="2">Methods</th>
            </thead>
        <tbody>
            {% for employee in company.employees %} 
            <tr>
                <td>{{ employee.employee_id }}</td>
                <td>{{ employee.first_name }}</td>
                <td>{{ employee.last_name }}</td>
                <td>{{ employee.employee_department }}</td>
                <td>${{ employee.employee_salary }}</td>
                <td>{{ employee.employee_age }}</td>
                <td><a href="/delete/{{ employee.employee_id }}">Delete</a></td>
                <td><a href="/view/{{ employee.employee_id }}">View</a></td>
                
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </body>
</html>